/*****************/
/* Accent Colors */
/*****************/
.text-accent {
    color: #00b1eb;
}
.bg-accent {
    background-color: #00b1eb;
}

/*****************/
/* Border Colors */
/*****************/
.border-border {
    border-color: #006997;
}
.border-border-accent {
    border-color: #00b1eb;
}

/*****************/
/* Button Colors */
/*****************/
.bg-button {
    background-color: #00b1eb; 
}
.bg-button:hover {
    background-color: #006997;
}
.bg-button-light {
    background-color: #00b1eb;
}
.bg-button-muted {
    background-color: #007aad;
}
.text-button-text {
    color: #ffffff;
}

/***************/
/* Card Colors */
/***************/
.bg-card-background {
    background-color: #01486f;
}
.text-card-text {
    color: #ffffff;
}

/******************/
/* Heading Colors */
/******************/
.text-heading-text {
    color: #8cd6ff;
}

/***************/
/* Main Colors */
/***************/
.bg-main-background {
    background-color: #002d46;
}
.text-main-text {
    color: #ffffff;
}
.text-main-title {
    color: #00b1eb;
}
.text-main-muted {
    color: #007aad;
}
